
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Reddit Cards</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline my-2 my-lg-0" (submit)="onSubmit(search.value)">
      <input
        class="form-control mr-sm-2"
        type="search"
        #search
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div
      *ngFor="let post of posts.data.children"
      class="card"
      style="width: 18rem;"
    >
      <img src="{{ post.data.thumbnail }}" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{ post.data.title }}</h5>
        <p class="card-text">{{ post.data.selftext }}</p>
      </div>
    </div>
  </div>
</div>

